{% extends "layouts/base.njk" %}
{% block body_start %}
  {% include "components/navbar.njk" %}
  <div class="btn-group" role="group" aria-label="Main menu">
      <a class="btn btn-primary" href="/Upload">Upload</a>
      <a class="btn btn-secondary" href="/integrate">Integrate</a>
  </div>
{% endblock %}
