<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {% block head_end %}{% endblock %}
  </head>
  <body class="p-4">
    {% block body_start %}{% endblock %}

    {% block body_before_scripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    {% block body_end %}{% endblock %}
  </body>
</html>
